.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_btn {
  margin-left: 5px;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.delete_btn:hover {
  background: #e9e9e9 linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.delete_btn:active {
  position: relative;
  top: 1px;
}


